<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zachary.MagicalIndex">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.example.zachary.MagicalIndex.Handling.LocalHandling.ContextHandler">

        <activity
            android:name="com.example.zachary.MagicalIndex.Main.Start.StartScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.zachary.MagicalIndex.Main.Drawer_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <activity
            android:name="com.example.zachary.MagicalIndex.Main.FullSpell"
            android:screenOrientation="portrait"
            android:parentActivityName="com.example.zachary.MagicalIndex.Main.Drawer_Main">
        </activity>

        <activity
            android:name="com.example.zachary.MagicalIndex.Main.Spellbook"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:parentActivityName="com.example.zachary.MagicalIndex.Main.Drawer_Main">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

    </application>

</manifest>
